# Claude Code
CLAUDE.md
TASK.md
release-notes*.md

# Logs
logs
*.log

# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db
test.icns

# Rust
src-tauri/target

# Tauri
src-tauri/WixTools
src-tauri/gen

# Dev notes
docs
